@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Book-s.p.e7ea2333.woff2) format("woff2");
    font-display: swap;
    font-weight: 450;
    font-style:normal
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Medium-s.p.ee0b63fe.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style:normal
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Semibold-s.p.6661ad11.woff2) format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style:normal
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Bold-s.p.6be22bde.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style:normal
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Book_Italic-s.p.3a2c97fd.woff2) format("woff2");
    font-display: swap;
    font-weight: 450;
    font-style:italic
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Medium_Italic-s.p.488349a2.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style:italic
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Semibold_Italic-s.p.fc6a65ba.woff2) format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style:italic
}

@font-face {
    font-family: brandFont;
    src: url(../media/Macan_Bold_Italic-s.p.d963b79d.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style:italic
}

@font-face {
    font-family: brandFont Fallback;
    src: local(Arial);
    ascent-override: 86.36%;
    descent-override: 20.21%;
    line-gap-override: 16.08%;
    size-adjust:108.84%
}

.brandfont_2759923-module__i8lThW__className {
    font-family: brandFont, brandFont Fallback
}

@font-face {
    font-family: Corinthia;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/5d21462cf05421c5-s.37387d54.woff2) format("woff2");
    unicode-range:U + 102-103, U + 110-111, U + 128-129, U + 168-169, U + 1A0-1A1, U + 1AF-1B0, U + 300-301, U + 303-304, U + 308-309, U + 323, U + 329, U + 1EA0-1EF9, U + 20AB
}

@font-face {
    font-family: Corinthia;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/ff75888aa7c43443-s.d4daed35.woff2) format("woff2");
    unicode-range:U + 100-2BA, U + 2BD-2C5, U + 2C7-2CC, U + 2CE-2D7, U + 2DD-2FF, U + 304, U + 308, U + 329, U + 1D00-1DBF, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF
}

@font-face {
    font-family: Corinthia;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/8d14b30bbd225540-s.p.a5f519ed.woff2) format("woff2");
    unicode-range:U + ??, U + 131, U + 152-153, U + 2BB-2BC, U + 2C6, U + 2DA, U + 2DC, U + 304, U + 308, U + 329, U + 2000-206F, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD
}

@font-face {
    font-family: Corinthia;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../media/b93db8c95a6b2685-s.fc936b8e.woff2) format("woff2");
    unicode-range:U + 102-103, U + 110-111, U + 128-129, U + 168-169, U + 1A0-1A1, U + 1AF-1B0, U + 300-301, U + 303-304, U + 308-309, U + 323, U + 329, U + 1EA0-1EF9, U + 20AB
}

@font-face {
    font-family: Corinthia;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../media/8a33ce66924e7182-s.65e34e39.woff2) format("woff2");
    unicode-range:U + 100-2BA, U + 2BD-2C5, U + 2C7-2CC, U + 2CE-2D7, U + 2DD-2FF, U + 304, U + 308, U + 329, U + 1D00-1DBF, U + 1E00-1E9F, U + 1EF2-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20C0, U + 2113, U + 2C60-2C7F, U + A720-A7FF
}

@font-face {
    font-family: Corinthia;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../media/ec3a0882fd097ef5-s.p.b3c303d6.woff2) format("woff2");
    unicode-range:U + ??, U + 131, U + 152-153, U + 2BB-2BC, U + 2C6, U + 2DA, U + 2DC, U + 304, U + 308, U + 329, U + 2000-206F, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD
}

@font-face {
    font-family: Corinthia Fallback;
    src: local(Arial);
    ascent-override: 132.87%;
    descent-override: 76.92%;
    line-gap-override: 0.0%;
    size-adjust:57.2%
}

.corinthia_55cb83c5-module__jZ9YJW__className {
    font-family: Corinthia, Corinthia Fallback;
    font-style:normal
}

.corinthia_55cb83c5-module__jZ9YJW__variable {
    --font-corinthia: "Corinthia", "Corinthia Fallback"
}
